<div class="accordion-item">
  <h5 class="accordion-header" id="heading-{{ .index }}">
    <button class="accordion-button border-bottom font-weight-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ .index }}" aria-expanded="false" aria-controls="collapse-{{ .index }}">
       {{ .context.name }}
      <i class="collapse-close fa fa-plus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
      <i class="collapse-open fa fa-minus text-xs pt-1 position-absolute end-0 me-3" aria-hidden="true"></i>
    </button>
  </h5>
  <div id="collapse-{{ .index }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ .index }}" data-bs-parent="#accordionValues" style="">
    <div class="accordion-body text-sm opacity-8">
      {{ .context.description }}
   </div>
  </div>
</div>
